.main {
	position: relative;
	z-index: 10;
	max-width: 1000px;
	min-height: 200px;
	padding: 2rem 2rem;
	align-items: center;
	text-align: left;
	margin: 2rem auto auto auto;
	background-color: #f8f9fa;
	opacity: 0;
	animation: fadeIn 1s 2.3s forwards;
}
