@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");

html {
	font-size: 14px;
}
body {
	font-family: "Red Hat Display", sans-serif;
	background-color: #282c34;
}

.header {
	min-height: 2rem;
	max-width: 1000px;
	align-items: center;
	text-align: left;
	margin: auto;
}

.title {
	padding: 1rem 0;
	font-weight: 900;
	font-size: 1.3rem;
}

#desktop-navigation {
	padding: 0.5rem 3rem;
}
.navbar {
	font-family: "Red Hat Display", sans-serif;
	font-size: 1rem;
}
.d-flex {
	padding-left: 2rem;
}

@media screen and (max-width: 991px) {
	.d-flex {
		padding-left: 0;
	}
}
