@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&family=Roboto:wght@100&display=swap");
html {
	font-size: 14px;
}

.App {
	font-family: "Roboto Condensed", sans-serif;
	justify-content: space-between;
	margin-bottom: 12rem;
}

body {
	font-family: "Roboto Condensed", sans-serif;
}

.header {
	position: relative;
	z-index: 100;
	min-height: 2rem;
	max-width: 1000px;
	align-items: center;
	text-align: left;
	margin: auto;
}

.title {
	padding: 1rem 2rem 1rem 0;
	margin: 0 2rem 0 -1rem;
	font-weight: 900;
	font-size: 1.3rem;
	text-transform: capitalize;
}

.zindex {
	z-index: 0;
}

.title-cave {
	margin-top: -2px;
}

#desktop-navigation {
	padding: 1rem 3rem;
	background-color: rgb(232, 232, 232) !important;
}

.navbar {
	font-family: "Red Hat Display", sans-serif;
	font-size: 1rem;
}

.d-flex {
	padding-left: 2rem;
}

.page-loader {
	position: absolute;
	margin: auto;
	text-align: center;
	top: calc(50% - 6em);
	left: calc(50% - 6em);
	animation: fadeOut 1s 1.8s forwards;
}

.logo-text {
	z-index: 1;
	font-weight: 900;
	animation: bounceIn 1s 0.3s;
	transition: ease-out;
	margin-top: 3rem;
	opacity: 0;
	animation-fill-mode: forwards;
}

.cave-logo {
	z-index: 0;
	width: 8em;
	height: 8em;
	animation: bounceIn 1s, gelatine 0.5s 1s;
	transform: rotate(0deg) scale(2) translateZ(0);
	transition: ease-out;
}

.main {
	max-width: 1000px;
	text-align: left;
	margin: 2rem auto 2rem auto;
	padding: 1rem auto;
	opacity: 0;
	animation: fadeIn 1s forwards;
}

.slide-container {
	text-align: left;
	margin: auto;
	opacity: 0;
	animation: fadeIn 1s forwards;
}

.each-slide {
	margin: 2rem;
	padding-left: 1rem;
}

.recipe-container {
	max-width: 29rem;
	background-color: white;
	border-radius: 1rem;
	box-shadow: 0px 0px 20px 0px rgba(150, 150, 150, 0.2);
	display: flex;
	cursor: pointer;
}

.recipe-container:hover {
	animation: hoverZoom 0.1s forwards linear;
}

.recipe-image {
	padding: 5px;
	border-radius: 1rem;
	width: 200px;
	height: 200px;
	object-fit: cover;
}

.recipe-title {
	font-weight: 700;
	font-size: 1.1rem;
	text-transform: capitalize;
	padding-bottom: 1rem;
}

.recipe-content {
	position: relative;
	padding: 1rem;
	height: 200px;
	line-height: 1rem !important;
}

.recipe-content em {
	font-size: 0.9rem;
}

.recipe-bottom {
	position: absolute;
	bottom: 1rem;
}

.recipe-bottom span {
	font-size: 0.8rem;
}

.footer {
	font-family: "Roboto Condensed", sans-serif;
	background-color: #e8e8e8;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 10rem;
	display: flex;
	justify-content: space-between;
}

.footer-socials {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding-left: 5%;
}

.footer-socials .text {
	font-size: 1.5rem;
	color: #888;
}

.social-links li {
	list-style: none;
	display: inline-block;
	padding-right: 28px;
	font-size: 2rem;
}

.fa-facebook-f,
.fa-twitter,
.fa-instagram {
	transition: color 0.2s;
}

.social-links li a:link,
.social-links li a:visited {
	color: #888;
	text-decoration: none;
}

.fa-facebook-f:hover {
	color: #3b5998;
	animation: swing 0.5s infinite;
	font-size: 2rem;
	transition: 0.2s;
}

.fa-twitter:hover {
	color: #00aced;
	animation: swing 0.5s infinite;
	font-size: 2rem;
	transition: 0.2s;
}

.fa-instagram:hover {
	color: #54362c;
	animation: swing 0.5s infinite;
	font-size: 2rem;
	transition: 0.2s;
}

.footer-nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style: none;
	font-size: 1.5rem;
	text-align: center;
	padding-right: 5%;
}

.footer-nav li:first-child {
	border-bottom: 1px solid #9b9b9b;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
	color: #888;
	text-decoration: none;
}

.footer-nav li a:hover {
	text-decoration: underline;
}

.newsletter {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	font-size: 1.5rem;
	color: #888;
}

.newsletter-btn {
	margin-top: 10px;
}

.contact-main {
	text-align: center;
	padding-bottom: 10px;
}

.contact-title {
	margin-top: 7rem;
	margin-bottom: 4rem;
}

.contact-forms {
	text-align: left;
	width: 60%;
	margin: 0 auto;
	color: #555;
}

.grid-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	justify-items: center;
}

.title-categories {
	font-weight: 900;
	font-size: 1.3rem;
	text-transform: capitalize;
	margin-left: 3rem;
	margin-top: 1rem;
}

.link {
	display: inline-block;
	vertical-align: top;
	width: 130px;
	height: 34px;
	line-height: 36px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	letter-spacing: 0.1em;
	text-align: center;
	font-size: 0.8rem;
	margin: 10px;
	margin-left: 0rem;
	position: relative;
}

.link span {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
}

.wipe {
	border: 1px solid #000;
	border-radius: 4px;
	overflow: hidden;
}

.wipe {
	transition: color 0.3s;
}

.wipe::after {
	width: 100%;
	height: 100%;
	display: block;
	background-color: #000;
	content: " ";
	position: absolute;
	top: 0;
	transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
	transform: translateY(34px);
	z-index: -1;
}

.wipe:hover {
	color: #fff;
}

.wipe:hover::after {
	transform: translateY(0px);
}

.single-recipe {
	margin: 2rem 4rem;
}

.single-recipe .title {
	font-size: 2rem;
}

.single-recipe h4.title {
	font-size: 1.5rem;
}

.single-recipe p {
	margin-left: -1rem;
	align-items: center;
	font-weight: 700;
	font-size: 1.1rem;
}

.large-image {
	margin-left: -1rem;
	width: 100%;
	max-height: 400px;
	object-fit: cover;
	border-radius: 1rem;
	box-shadow: 0px 0px 20px 0px rgba(150, 150, 150, 0.8);
}

.stars-bar {
	position: absolute;
	top: 0;
	right: 0;
	padding: 3rem 0rem;
}

.more-row-space {
	padding-bottom: 1rem;
}

.ingredient-list li {
	text-transform: capitalize;
}

.numbered,
.numbered li {
	list-style-type: decimal;
	text-transform: none !important;
}

@media screen and (max-width: 991px) {
	.d-flex {
		padding-left: 0;
	}
}

@media screen and (max-width: 900px) {
	.recipe-image {
		width: 150px;
		height: 150px;
	}
}

@media screen and (max-width: 800px) {
	.main {
		display: inline;
		margin: auto;
	}
	.slide-container {
		margin: 2rem auto auto auto;
		position: relative;
		align-items: center;
	}
	.slide-container .title {
		text-align: center;
	}
	.recipe-container {
		justify-self: center;
		justify-items: center;
		align-items: center;
		max-width: 400px;
		margin: auto;
	}
	.recipe-image {
		width: 200px;
		height: 200px;
	}
	.footer-socials {
		padding: 0;
		text-align: center;
	}
	.footer-socials .text,
	.footer-socials li {
		font-size: 1.5rem;
	}
	.footer-nav li a {
		font-size: 1.5rem;
		padding-right: 10px;
	}
	.newsletter {
		font-size: 1rem;
	}
	.footer-nav li a:hover {
		font-size: 2rem;
		transition: 0.2s;
	}
	.fa-facebook-f:hover,
	.fa-twitter:hover,
	.fa-instagram:hover {
		font-size: 2rem;
		transition: 0.2s;
	}
}

@media screen and (max-width: 500px) {
	.grid-list {
		display: block;
		text-align: center;
		margin: 0;
	}
	.title-categories {
		text-align: center;
		font-weight: 900;
		font-size: 1.3rem;
		text-transform: capitalize;
		margin-top: 1rem;
		width: 75%;
	}
	.title {
		text-align: center;
		margin-left: 0;
	}
	.footer-socials .text,
	.footer-socials li {
		padding-left: 0;
		font-size: 1rem;
	}
	.footer-nav li a {
		font-size: 1rem;
	}
	.footer-nav li a:hover {
		font-size: 1.5rem;
		transition: 0.2s;
	}
	.fa-facebook-f:hover,
	.fa-twitter:hover,
	.fa-instagram:hover {
		font-size: 1.5rem;
		transition: 0.2s;
	}
}

@media screen and (max-width: 420px) {
	.recipe-desc {
		display: none;
	}
	.slide-container {
		margin: 0;
		left: -0.8rem;
	}
	.header .link {
		margin: 1rem;
	}
	.single-recipe {
		margin: 2rem 0 0 2rem;
	}
	.single-recipe .title {
		font-size: 1.8rem;
	}
	.single-recipe .ingredient-list li {
		margin-left: -2rem;
		width: 100%;
	}
	.stars-bar {
		margin: 1rem;
		margin-top: -0.2rem;
	}
}
@media screen and (max-width: 370px) {
	.slide-container {
		margin: 0;
		left: -0.8rem;
	}
	.recipe-image {
		width: 125px;
		height: 125px;
	}
	.recipe-title {
		font-size: 1rem;
		font-weight: 500;
		padding-bottom: 0;
	}
	.recipe-bottom {
		bottom: auto;
	}
	.recipe-content {
		height: 135px;
	}
	.title {
		font-size: 0.9rem !important;
		width: 50%;
	}
	.slide-container h2 {
		width: 100% !important;
		font-size: 1.5rem !important;
	}
}

@media screen and (max-width: 380px) {
	.footer-socials {
		width: 20%;
		align-items: center;
	}

	.footer-nav {
		width: 20%;
	}

	.footer-socials .text,
	.footer-socials li {
		font-size: 0.7rem;
	}
	.footer-nav li a {
		font-size: 0.7rem;
	}
	.footer-nav li a:hover {
		font-size: 1rem;
		transition: 0.2s;
	}
	.fa-facebook-f:hover,
	.fa-twitter:hover,
	.fa-instagram:hover {
		font-size: 1rem;
		transition: 0.2s;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes bounceInNormal {
	0% {
		opacity: 0;
		transform: scale(0.1);
	}
	50% {
		opacity: 1;
		transform: scale(1.5);
	}
	70% {
		opacity: 1;
		transform: scale(0.9);
	}
	90% {
		opacity: 1;
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(0.1);
	}
	50% {
		opacity: 1;
		transform: scale(2.5);
	}
	70% {
		opacity: 1;
		transform: scale(1.9);
	}
	90% {
		opacity: 1;
		transform: scale(2.1);
	}
	100% {
		opacity: 1;
		transform: scale(2);
	}
}

@keyframes gelatine {
	from,
	to {
		transform: scale(2, 2);
	}
	25% {
		transform: scale(1.9, 2.1);
	}
	50% {
		transform: scale(2.1, 1.9);
	}
	75% {
		transform: scale(1.95, 2.05);
	}
}

@keyframes swing {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-12deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(12deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes hoverZoom {
	0% {
		box-shadow: 0px 0px 20px 0px rgba(150, 150, 150, 0.2);
		transform: scale(1);
	}
	100% {
		box-shadow: 0px 0px 20px 0px rgba(150, 150, 150, 0.4);
		transform: scale(1.04);
	}
}
