@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&family=Roboto:wght@100&display=swap");

html {
	font-size: 14px;
}
.App {
	font-family: "Roboto Condensed", sans-serif;
	justify-content: space-between;
}
body {
	font-family: "Roboto Condensed", sans-serif;
}

.header {
	position: relative;
	z-index: 100;
	min-height: 2rem;
	max-width: 1000px;
	align-items: center;
	text-align: left;
	margin: auto;
	opacity: 0;
	animation: fadeIn 1s 2s forwards;
}

.title {
	padding: 1rem 2rem 1rem 0;
	margin: 0 2rem 0 -1rem;
	font-weight: 900;
	font-size: 1.3rem;
	opacity: 0;
	animation: bounceInNormal 0.5s 3s forwards;
}

.title-cave {
	margin-top: -2px;
}

#desktop-navigation {
	padding: 1rem 3rem;
	background-color: rgb(232, 232, 232) !important;
}

.navbar {
	font-family: "Red Hat Display", sans-serif;
	font-size: 1rem;
}

.d-flex {
	padding-left: 2rem;
}

.page-loader {
	position: absolute;
	margin: auto;
	text-align: center;
	top: calc(50% - 6em);
	left: calc(50% - 6em);
	animation: fadeOut 1s 2s forwards;
}

.logo-text {
	z-index: 1;
	font-weight: 900;
	animation: bounceIn 1s 0.3s;
	transition: ease-out;
	margin-top: 3rem;
	opacity: 0;
	animation-fill-mode: forwards;
}

.cave-logo {
	z-index: 0;
	width: 8em;
	height: 8em;
	animation: bounceIn 1s, gelatine 0.5s 1s;
	transform: rotate(0deg) scale(2) translateZ(0);
	transition: ease-out;
}
.main {
	max-width: 1000px;
	text-align: left;
	margin: 2rem auto 2rem auto;
	padding: 1rem auto;
	opacity: 0;
	animation: fadeIn 1s 2.3s forwards;
}
.slide-container {
	padding-left: 2rem;
	height: 300px;
	text-align: left;
	margin: auto;
	opacity: 0;
	animation: fadeIn 1s 2.3s forwards;
}
.each-slide {
	margin: 2rem;
	height: 350px;
}

.recipe-container {
	max-width: 29rem;
	background-color: white;
	border-radius: 1rem;
	box-shadow: 0px 0px 20px 0px rgba(150, 150, 150, 0.2);
	display: flex;
	cursor: pointer;
}
.recipe-container:hover {
	animation: hoverZoom 0.1s forwards linear;
}
.recipe-image {
	padding: 5px;
	border-radius: 1rem;
	width: 200px;
	height: 200px;
	object-fit: cover;
}
.recipe-title {
	font-weight: 700;
	font-size: 1.1rem;
	text-transform: capitalize;
}
.recipe-content {
	position: relative;
	padding: 1rem;
	height: 200px;
}
.recipe-content em {
	font-size: 1rem;
}
.recipe-bottom {
	position: absolute;
	bottom: 1rem;
}
.recipe-bottom span {
	font-size: 0.8rem;
}

@media screen and (max-width: 991px) {
	.d-flex {
		padding-left: 0;
	}
}
@media screen and (max-width: 900px) {
	.recipe-image {
		width: 150px;
		height: 150px;
	}
}

@media screen and (max-width: 800px) {
	.main {
		display: inline;
		margin: auto;
	}
	.slide-container {
		margin: 2rem auto auto auto;
		position: relative;
		left: calc(50% - 260px);
	}
	.recipe-container {
		justify-self: center;
	}
	.recipe-image {
		width: 200px;
		height: 200px;
	}
}

@media screen and (max-width: 420px) {
	.recipe-desc {
		display: none;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes bounceInNormal {
	0% {
		opacity: 0;
		transform: scale(0.1);
	}

	50% {
		opacity: 1;
		transform: scale(1.5);
	}

	70% {
		opacity: 1;
		transform: scale(0.9);
	}

	90% {
		opacity: 1;
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(0.1);
	}

	50% {
		opacity: 1;
		transform: scale(2.5);
	}

	70% {
		opacity: 1;
		transform: scale(1.9);
	}

	90% {
		opacity: 1;
		transform: scale(2.1);
	}
	100% {
		opacity: 1;
		transform: scale(2);
	}
}

@keyframes gelatine {
	from,
	to {
		transform: scale(2, 2);
	}
	25% {
		transform: scale(1.9, 2.1);
	}
	50% {
		transform: scale(2.1, 1.9);
	}
	75% {
		transform: scale(1.95, 2.05);
	}
}

@keyframes swing {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-3deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(3deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes hoverZoom {
	0% {
		box-shadow: 0px 0px 20px 0px rgba(150, 150, 150, 0.2);
	}
	100% {
		box-shadow: 0px 0px 20px 0px rgba(150, 150, 150, 0.4);
	}
}
